.button-visible {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin-left: 240px;
  margin-top: 6px;
  outline: none;
  overflow: hidden;
  position: absolute;
}

.input-format {
  display: flex;
  flex-direction: column;
  height: 38px;
  margin-bottom: 20px;
  width: 274px;
}

.login-page-container {
  align-items: center;
  background-image: url('./images/drink-background.jpg');
  background-position-y: -170px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-items-container {
  align-items: center;
  background-color: rgba(219, 218, 218, 0.726);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  width: 300px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form input {
  text-align: center;
}

.login-register-btn {
  margin-top: 20px;
}

.register-page-container {
  align-items: center;
  background-image: url('./images/drink-background.jpg');
  background-position-y: -170px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.register-items-container {
  align-items: center;
  background-color: rgba(219, 218, 218, 0.726);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  width: 300px;
}

.register-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form input {
  text-align: center;
}

.navBar {
  align-items: center;
  background: mediumseagreen;
  display: flex;
  font-family: system-ui , -apple-system , Helvetica , Arial , sans-serif;
  height: 8vh;
  justify-content: space-around;
}

.navBar-a {
  color: white;
  margin-left: 52px;
  text-decoration: none;
  transition: 0.3s;
}
